html, body{
	height: 100%;
    margin: 0px;
	padding: 0px;
}

#wrapper {width: 100%; margin-top: 0px; }
#header {width: 100%; background: #0d6efd; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-button {
	padding: 4px; 
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 5px;
}